
/*----Navigation----*/

body{
    margin: 25;
    font-family:'Times New Roman', Times, serif;
}
.navbar {
    overflow: hidden;
    background-color:rgb(255, 255, 255);
    margin: 30px
}

.navbar a {
    float: center;
    color: 462255;
    text-align: center;
    padding: 20px 40px;
    text-decoration:double;
    font-size: 20px;
}

.navbar a:hover {
    background-color:rgb(172, 238, 172);
    color:rgb(10, 97, 46);
}

.navbar a.active {
    background-color:rgb(206, 240, 206);
    color: green
}

/* Wrapper */
.wrapper {
    padding-left: 100px;
    padding-right: 100px;
}

/*----Global Style----*/
#left, #right {
	background: #99c092;
	position: fixed;
    border: inherit;
    border: initial;
    border: unset;
    inline-size: min-content;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 100px;
		}
		#left { left: 0; }
		#right { right: 0; }
		

html{
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    color: rgb(12, 85, 12);
    margin:0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

.homepage {
    font-size: 300px;
}
.homepage-img{
    width: 1000px;
}

hr.solid{
    border-top: 3px solid rgb(103, 138, 96);
}
.grid-wrap{
    grid-template-columns: auto auto;
    grid-column-gap: 150px;
}

.home-page1 img{
    width: 650px;
    height: 500px;
    padding: 30px;
}

.home-page2 img{
    width: 650px;
    height: 500px;
    padding: 30px;
}

.home-page3 img{
    width: 650px;
    height: 500px;
    padding: 30px;
}

.home-page4 img{
    width: 650px;
    height: 500px;
    padding: 30px;
}

/*----About Us----*/

.main-about-us {
    text-align: left;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    padding: 30px;
}

.navbar-about-us{
    overflow: hidden;
    background-color:rgb(255, 255, 255);
    margin: 30px
}

.navbar-about-us a{
    float: center;
    color: 462255;
    text-align: center;
    padding: 20px 40px;
    text-decoration:double;
    font-size: 20px;
}
 .navbar-about-us a.hover{
    background-color:rgb(172, 238, 172);
    color:rgb(10, 97, 46);
 }

 .navbar-about-us a.active{
    background-color:rgb(206, 240, 206);
    color: green
 }
 

/*----Contact Us----*/
.contact-footer{
    background: #e0e6e0;
    bottom:0;
    height: 250px;
    width: 100%;
    text-align: left;
    padding-top:20px;
    padding-left: 50px;
}

/*----Testimonials----*/
.test{
    text-align: left;
    padding: 30px;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}
.test a{
    text-indent: 30px;
}
/*---- REQUEST INFORMATION ----*/
.reqinfo {
    float: left;
    padding: 50px;
}
.request-info {
    float: left;
}

.navbar-req{
    overflow: hidden;
    background-color:rgb(255, 255, 255);
    margin: 30px
}

.navbar-req a {
    float: center;
    color: 462255;
    text-align: center;
    padding: 20px 40px;
    text-decoration:double;
    font-size: 20px;
}

.navbar-req a:hover{
    background-color:rgb(172, 238, 172);
    color:rgb(10, 97, 46);
}

.navbar-req a.active{
    background-color:rgb(206, 240, 206);
    color: green
}

.prettyflower img{
    width: 650px;
    height: 500px;
    float: right;
    padding: 30px;
}
/*---- SERVICES----*/
.service{
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}
.service3{
     text-align: left;
     padding: 50px;
     font-family:'Times New Roman', Times, serif;
     font-size: 20px;
 }


