/*Color Palette
#462255
#313B72
#62A87C
#7EE081
#C3F3C0
*/

/*----Navigation----*/

body{
    margin: 25;
    font-family:'Times New Roman', Times, serif;
}
.navbar {
    overflow: hidden;
    background-color:rgb(255, 255, 255);
    margin: 30px
}

.navbar a {
    float: center;
    color: 462255;
    text-align: center;
    padding: 20px 40px;
    text-decoration:double;
    font-size: 20px;
}

.navbar a:hover {
    background-color:rgb(172, 238, 172);
    color:rgb(10, 97, 46);
}

.navbar a.active {
    background-color:rgb(206, 240, 206);
    color: green
}

/* Wrapper */
.wrapper {
    padding-left: 100px;
    padding-right: 100px;
}

/*----Global Style----*/
#left, #right {
	background: #99c092;
	position: fixed;
    border: inherit;
    border: initial;
    border: unset;
    inline-size: min-content;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 100px;
		}
		#left { left: 0; }
		#right { right: 0; }
		

html{
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    color: rgb(12, 85, 12);
    margin:0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

.homepage {
    font-size: 300px;
}
.homepage-img{
    width: 1000px;
}

hr.solid{
    border-top: 3px solid rgb(103, 138, 96);
}

.home-page-ext img{
    width: 650px;
    height: 500px;
    float: left;
    padding: 30px;
}

.home-page2 img{
    width: 650px;
    height: 500px;
    float: right;
    padding: 30px;
}

.home-page3 img{
    width: 650px;
    height: 500px;
    float: left;
    padding: 30px;
}

.home-page4 img{
    width: 650px;
    height: 500px;
    float: right;
    padding: 30px;
}

.home-page5 img{
    width: 650px;
    height: 500px;
    float: left;
    padding: 30px;
}

.home-page6 img{
    width: 650px;
    height: 500px;
    float: right;
    padding: 30px;
}

/*----About Us----*/

.main-about-us {
    float: left;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
}

/*----Contact Us----*/
.contact-add{
    background-image: url(https://d2l.cbe.ab.ca/content/enforced/898155-jcs2122compsci30fall2021jtwilson/laying_sod.jpg?d2lSessionVal=NcQ7bvLFAmkRur1GgCeiQ0tUp&ou=898155);
    background-position: bottom;
    padding-bottom: 50px;

}
/*----Testimonials----*/
.test{
    background-color: rgb(172, 238, 172);
    float: left;
}
.test a{
    text-indent: 30px;
}
/*---- REQUEST INFORMATION ----*/
.reqinfo {
    float: left;
    padding: 50px;
}
.request-info {
    float: left;
}

.navbar-req{
    overflow: hidden;
    background-color:rgb(255, 255, 255);
    margin: 30px
}

.navbar-req a {
    float: center;
    color: 462255;
    text-align: center;
    padding: 20px 40px;
    text-decoration:double;
    font-size: 20px;
}

.navbar-req a:hover{
    background-color:rgb(172, 238, 172);
    color:rgb(10, 97, 46);
}

.navbar-req a.active{
    background-color:rgb(206, 240, 206);
    color: green
}

.prettyflower img{
    width: 650px;
    height: 500px;
    float: right;
    padding: 30px;
}


